<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>

        <h1>Shopping Cart</h1>

        <form method="POST" action="/add-to-cart">

            Item:
            <input type="text" name="item" size="20"
                   placeholder="Item for your cart">
            <button type="submit">Add</button>
        </form>

        <ul>
            {{#each shoppingCart }}
                <li>{{ this }}</li>
            {{/each}}
        </ul>

        <form method="get" action="/checkout">
            <button type="submit">Checkout</button>
        </form>

    </body>
</html>